body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orangered;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 10%;
    
}
.half-width image{
    width: 100%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 211, 67), rgba(251, 85, 8, 0.5));
    background-color: rgb(205, 248, 65);
    padding: 10px 40px;
    color: mintcream;
    font-weight: 800;
    border-radius: 5px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}